<!DOCTYPE html>
<html>
<head>
  <% for (const url of entrypoints.main.assets.filter(a => a.endsWith('.css'))) { %>
    <link rel="stylesheet" href="<%=url %>"></script>
  <% } %>
  <% for (const url of entrypoints.main.assets.filter(a => a.endsWith('.js'))) { %>
    <script type="module" src="<%=url %>"></script>
  <% } %>
</head>
<body>
</body>
</html>
